body {
  background-color: #BCBDC0;
}

.general {
  display: flex;
  justify-content: space-between;
}

/* .thumbnail{
  display: flex;
  justify-content: space-between
} */
ul li {
  list-style-type: none;
  color: black;
}

.panel {
  height: 225px;
  text-align: center;
  justify-content: center;
  background-color: #0B3142;
}

.navbar {
  background-color: #0B3142;
  border-radius: none;
  padding:10px;
}

.general {
  display: flex;
  justify-content: space-around;
}

.col-md-4 {
  height: 300px;
}

h3 {
  font-weight: bold;
  font-size: 60px;
  color: white;
  text-decoration-style: none;
}

.business {
  display: flex;
  justify-content: space-around;
  background-color: #565857;
}

.sports {
  display: flex;
  justify-content: space-around;
  background-color: #BCBDC0;
}

.science {
  display: flex;
  justify-content: space-around;
  background-color: #BCBDC0;
}

.technology {
  display: flex;
  justify-content: space-around;
  background-color: #565857;
}
.health{
  display: flex;
  justify-content: space-around;
  background-color: #565857;
}
.entertainment{
  display: flex;
  justify-content: space-around;
  background-color: #BCBDC0;
}
