<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      </button>
      <a class="navbar-brand" href="#">News Highlight</a>
      <ul>
        <li><a href="#general">General</a></li>
        <li> <a href="#usiness">Business</a></li>
        <li><a href="#entertainment">Entertainment</a></li>
        <li> <a href="#health">Health</a></li>
        <li> <a href="#science">Science</a></li>
        <li><a href="#sports">Sports</a></li>
        <li> <a href="#technology">Technology</a></li>
      </ul>
    </div>
  </div>
</div>
