<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News Highlight Website </title>
        {% endif %}
    </head>
    <body>

        <div class="container">
          <h3>GOING STRONG</h3>
          <div class="general">
            <h3> General source</h3>
            <ul>
              {% for general_news in general %}
              <li>
                <p>{{ general_news.name}}</p><br>
                <p>{{general_news.description}}</p><br>
                <p><button type="button" name="Read more">{{general_news.url}}</button></p>
              </li>
              {% endfor %}
            </ul>
          </div>


        </div>

    </body>
</html>
